/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock

# rspec failure tracking
.rspec_status
.rspec_status_e2e

# rbenv
.ruby_version

# JetBrains
.idea/

# VSCode
.vscode/